:root {
  --green: #198754;
  --light-green: #dff5e1;
  --font: 'Poppins', sans-serif;
}

html, body {
    overscroll-behavior: none;
    overflow-x: hidden;
  }

body {
  font-family: var(--font);
  color: #333;
  background-color: #fff; 
}


/* Products */
.product-card img {
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card button:hover {
  background-color: var(--green);
  color: #fff;
}

/* Newsletter */
.newsletter input {
  max-width: 400px;
}

/* Footer */
footer {
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

/* WhatsApp Floating Button */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}

.whatsapp-float i {
  margin-top: 14px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #20b857;
}

